<!--Pricing Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>YOUR CHOICE</h3>
            <h2 class="section-title">We have the right package for you</h2>
        </div>

        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="pricing-block-content">
                <h3>Vegeterian</h3>
                <p class="pricing-sub">The Indian version</p>
                <div class="pricing">
                    <div class="price"> <img src="../assets/images/menu-vegetarian.jpg" alt="Company"/>$19</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <ul>
                    <li>20 dishes</li>
                    <li>50 type of masala</li>
                    <li>Reviewed dishes</li>
                    <li>Best in Town</li>
                    <li>Made by Best cheif</li>
                </ul>
                <a (click)="getprice()" class="button">BUY TODAY</a>
            </div>
        </div>
        <!--End Pricing Block-->

        <!--Pricing Block-->
        <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
            <div class="pricing-block-content">
                <h3>Non-veg</h3>
                <p class="pricing-sub">Most popular choice</p>
                <div class="pricing">
                    <div class="price"><img src="../assets/images/meat-menu.jpg" alt="Company"/>$29</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <ul>
                    <li>25 dishes</li>
                    <li>75 type of masala</li>
                    <li>Reviewed dishes</li>
                    <li>Best in Town</li>
                    <li>Made by Best cheif</li>
                </ul>
                <a href="#" class="button">BUY TODAY</a>
            </div>
        </div>
        <!--End Pricing Block-->

        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="pricing-block-content">
                <h3>Sea Food</h3>
                <p class="pricing-sub">Local Best sea Food</p>
                <div class="pricing">
                    <div class="price"><img src="../assets/images/fish-menu.jpg" alt="Company"/>$49</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <ul>
                    <li>27 local dishes</li>
                    <li>25 type of masala</li>
                    <li>Reviewed dishes</li>
                    <li>Best in Town</li>
                    <li>Made by Local cheif</li>
                </ul>
                <a href="#" class="button">BUY TODAY</a>
            </div>
        </div>
        <!--End Pricing Block-->

    </div>
</section>
<!--End of Pricing Tables-->


      <!-- Initialize Google Maps -->
      