<aside>
	
    <!--Social Icons in Header-->
    <ul class="social-icons">
      <li>
        <a target="_blank" title="Facebook" href="https://www.facebook.com/">
          <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="Google+" href="https://accounts.google.com/signin/v2/identifier?hl=en&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
          <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="Twitter" href="https://twitter.com/login?lang=en">
          <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="Instagram" href="http://www.instagram.com/">
          <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="behance" href="http://www.behance.net">
          <i class="fa fa-behance fa-1x"></i><span>Behance</span>
        </a>
      </li>
    </ul>
    <!--End of Social Icons in Header-->

  </aside>